<launch>
    <node name="navigator" pkg="navigator" type="run.sh" >
        <param name="FlightScriptPath" value="$(find navigator)/flight_script/test_auto_takeoff.json" />
        <param name="PropertiesPath" value="$(find navigator)/core/src/main/java/com/state_machine/core/providers/config.properties" />
    </node>
</launch>
