<launch>
    <arg name="FlightScriptPath" default="$(arg FlightScriptPath)" />
    <node name="state_machine" pkg="onboard_statemachine" type="run.sh" >
        <param name="FlightScriptPath" value="$(arg FlightScriptPath)" />
        <param name="PropertiesPath" value="$(find onboard_statemachine)/configs/config.properties" />
    </node>
</launch>
