<launch>
    <arg name="FlightScriptPath" default="$(arg FlightScriptPath)" />
    <node name="navigator" pkg="navigator" type="run.sh" >
        <param name="FlightScriptPath" value="$(arg FlightScriptPath)" />
        <param name="PropertiesPath" value="$(find navigator)/configs/config.properties" />
    </node>
</launch>
